.headerLine{
    margin: 0px;
    height: 8px;
    background: -webkit-linear-gradient(left, rgba(255,208,7) 0%, rgba(255,208,7) 12.5%,rgba(192,156,221,1) 62.5%, rgba(192,156,221,1) 75%);
}
.dropdown-menu{
    width: 800px;
 
    

}
.form{
    width: 340px;
    left: 200px;
    top: 15px;


}
.btn_su{
    color: white;
    background-color: #7600d9;
    border: none;
    height: 40px;
    cursor: pointer;
}
input{
    color: #495057;
    
    border: 1px solid gray;
}
.items{
    overflow: hidden;
    overflow-x: scroll;
}
.item img{
    box-shadow: 2px 4px 2px gray;
}
.scrollbar {
    margin-left: 30px;
    float: left;
    height: 300px;
    width: 65px;
    background: #fff;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.scrollbar-primary::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5; 
}

.scrollbar-primary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #4285F4; 
}
.home_content,.categories-block{
    background-color: #f9f7f6;
}
.btn_s{
    background: #7e57c6;
    color: white;
    cursor: pointer;
}

 .fac_icon{ 
    background: #3c5a99;
    color: #fff;
   
}
.insta_icon {
    background: #815dc7;
    color: #fff;
}
.i{
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    
}
.headerLine{
    margin: 0px;
    height: 8px;
    background: -webkit-linear-gradient(left, rgba(255,208,7) 0%, rgba(255,208,7) 12.5%,rgba(192,156,221,1) 62.5%, rgba(192,156,221,1) 75%);
}